@{
    Layout = "_LayoutAdmin";
}
<style>
    .img {
        width: 100%;
    }
</style>
<div class="jumbotron">
    <h1>Добрый день, сотрудник проектного офиса!</h1>
    <p class="lead">Здесь вы найдете всю информацию, связанную с управлением стажировками.</p>
    <img src="~/images/employee.jpg" class="img-fluid" alt="Employee Image">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Список компаний</h2>
            <p>Просмотрите список всех компаний, участвующих в производственной практике студентов. Узнайте больше о каждой компании, их деятельности, проектах и возможностях для студентов.</p>
            <a href="/Companies" class="btn btn-primary">Перейти к компаниям</a>
        </div>

        <div class="col-md-6">
            <h2>Список студентов</h2>
            <p>Просмотрите список всех зарегистрированных студентов, управляйте их данными и отслеживайте прогресс в прохождении стажировки.</p>
            <a href="/Students/Index" class="btn btn-primary">Перейти к студентам</a>
        </div>

    </div>
</div>
