@{
    Layout = "_LayoutStudent";
}
<style>
    img {
        width: 100%;
    }
</style>
<div class="jumbotron">
    <h1>Добрый день, студент!</h1>
    <p class="lead">Здесь вы найдете всю информацию, связанную с вашей студенческой практикой.</p>
    <img src="~/images/student.jpg" alt="Student Image">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Твоя практика</h2>
            <p>Откройте для себя реальный проект в компании, над которым вы будете работать во время производственной практики. Окунитесь в мир передовых технологий и получите практический опыт.</p>
            <p>Будьте в курсе обновлений проекта, сроков и поставленных перед вами задач. Сотрудничайте с членами вашей команды и наставниками, чтобы извлечь максимум пользы из вашей практики.</p>
            <a href="#" class="btn btn-primary">Изучить детали</a>
        </div>
        <div class="col-md-6">
            <h2>Твой наставник</h2>
            <p>
                Познакомьтесь со своим наставником, который будет направлять вас на протяжении всей практики. Ваш наставник - опытный профессионал в данной области, он предоставит ценные рекомендации, отзывы и поддержку.
            </p>
            <p>Участвуйте в регулярных встречах со своим наставником, чтобы обсудить свой прогресс, задать вопросы и получить рекомендации. Максимально используйте эту возможность учиться и расти под их наставничеством.</p>
            <a href="#" class="btn btn-primary">Связаться со своим наставником</a>
        </div>
    </div>
</div>
